

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2 linear;
}

body{
    background: linear-gradient(45deg, blueviolet, lightgreen);
    /*background: black;*/
}

.header{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,1);
}

.header.nav-list,a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}
.header.nav-list,a:hover{
    background-color: red;
}
footer{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center; padding: 15px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,1);
    color:white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 30px;
}